// Zed settings
//
// For information on how to configure Zed, see the Zed
// documentation: https://zed.dev/docs/configuring-zed
//
// To see all of Zed's default settings without changing your
// custom settings, run `zed: open default settings` from the
// command palette (cmd-shift-p / ctrl-shift-p)
{
  "format_on_save": "on",
  "cli_default_open_behavior": "new_window",
  "edit_predictions": {
    "open_ai_compatible_api": {
      "max_output_tokens": 64,
      "prompt_format": "infer",
      "model": "glm-5.2[1m]",
      "api_url": "https://api.z.ai/api/coding/paas/v4"
    },
    "provider": "open_ai_compatible_api"
  },
  "project_panel": {
    "dock": "right"
  },
  "outline_panel": {
    "dock": "right"
  },
  "collaboration_panel": {
    "dock": "right"
  },
  "git_panel": {
    "dock": "right"
  },
  "context_servers": {
    "mcp-server-context7": {
      "settings": {}
    },
    "web-reader": {
      "command": "npx",
      "args": [
        "-y",
        "mcp-remote",
        "https://api.z.ai/api/mcp/web_reader/mcp",
        "--header",
        "Authorization: Bearer {{ .z_ai_api_key }}"
      ]
    },
    "web-search-prime": {
      "command": "npx",
      "args": [
        "-y",
        "mcp-remote",
        "https://api.z.ai/api/mcp/web_search_prime/mcp",
        "--header",
        "Authorization: Bearer {{ .z_ai_api_key }}"
      ]
    },
    "zread": {
      "command": "npx",
      "args": [
        "-y",
        "mcp-remote",
        "https://api.z.ai/api/mcp/zread/mcp",
        "--header",
        "Authorization: Bearer {{ .z_ai_api_key }}"
      ]
    },
    "zai-vision": {
      "command": "npx",
      "args": ["-y", "@z_ai/mcp-server@latest"],
      "env": {
        "Z_AI_API_KEY": "{{ .z_ai_api_key }}",
        "Z_AI_MODE": "ZAI"
      }
    }
  },
  "language_models": {
    "anthropic_compatible": {
      "Z.AI (Anthropic)": {
        "api_url": "https://api.z.ai/api/anthropic",
        "available_models": [
          {
            "name": "glm-5.2",
            "max_tokens": 1000000,
            "max_output_tokens": 130000,
            "extra_beta_headers": [],
            "capabilities": {
              "tools": true,
              "images": true,
              "prompt_caching": false
            }
          },
          {
            "name": "glm-4.5-air",
            "max_tokens": 200000,
            "max_output_tokens": 93000,
            "extra_beta_headers": [],
            "capabilities": {
              "tools": true,
              "images": false,
              "prompt_caching": false
            }
          }
        ]
      }
    }
  },
  "agent_servers": {
    "glm-acp-agent": {
      "type": "registry"
    }
  },
  "autosave": {
    "after_delay": {
      "milliseconds": 1000
    }
  },
  "agent": {
    "tool_permissions": {
      "tools": {
        "fetch": {
          "default": "allow"
        },
        "terminal": {
          "default": "allow"
        }
      }
    },
    "dock": "left",
    "default_model": {
      "enable_thinking": false,
      "provider": "Z.AI (Anthropic)",
      "model": "glm-5.2"
    },
    "model_parameters": []
  },
  "vim_mode": true,
  "icon_theme": "Zed (Default)",
  "ui_font_size": 16,
  "buffer_font_size": 15,
  "terminal": {
    "font_family": "ZedMono Nerd Font",
    "font_size": 14
  },
  "theme": {
    "mode": "dark",
    "light": "One Light",
    "dark": "One Dark"
  }
}
